.payment-success {
    font-size: 24px;
    color: green;
    text-align: center;
    margin-top: 50px;
    height: 400px;
   
  }

  #my-link {
    color: blue;
    width: 100px;
    height: 100px;
  }